.idea
.DS_Store

node_modules/

.gitmodules
.env.*
.venv

# Remoe the built project from the repository (that was an original behavior)
/dist

# Prepared publish submodule for published build (`publish` branch)
/publish

# Temporariy, swap & ignored files
*.log
/log*.txt
/config-local.*
/*.session
*UNUSED
*~
.*.sw?
*.tmp
*.zip
*.tgz
