.cart-table{
  width: 100%;
  tr {
    td.cart-table__info:last-child{
      white-space: normal;
    }
  }
  th {
    text-transform: uppercase;
    padding: 0 0.7rem 1rem 0;
    white-space: nowrap;
  }
  td {
    padding: 0 0.7rem 1rem 0;
  }
  td.prod-border {
    border-top: 1px solid #ddd;
    padding-top: 1rem;
  }
  &__img{
    width: 12%;
    img{
      width: 100%;
      object-fit: cover;
    }
    &.big{
      width: 14%;
    }
  }
  .sert{
    width: 220px;
    min-width: 220px;
  }
  &__name{
    min-width: 12rem!important;
    width: 20%;
    a {
      display: block;
      width: 12rem!important;
    }
  }
  &__price {
    width: 12%;
  }
  &__info {
    white-space: nowrap;
  }
  &__quantity {
    width: 7%;
  }
  &__summ {
    width: 20%;
  }
  &__trash {
    width: 5%;
  }
  .skid{
    text-decoration: underline;
  }
  .decor{
    position: absolute;
    background: #eee;
  }
  .quantity{
    position: relative;
    padding: 0 2rem;
    input {
      width: 100%;
      min-width: 4rem;
    }
    &__icon{
      background: #EFEFEF;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 1.4rem;
      width: 1.4rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-style: normal;
      font-size: 20px;
      border-radius: 100%;
      cursor: pointer;
      -moz-user-select: none;
      -khtml-user-select: none;
      user-select: none;
      @extend %anim;
      &.plus{
        right: 0;
      }
      &.minus{
        font-size: 23px;
        left: 0;
      }
      &:hover{
        background: $c-red;
        color: #fff;
      }
    }
  }
}
.avatar{
  border-radius: 100%;
  overflow: hidden;
  height: 6rem;
  width: 6rem;
  flex-shrink: 0;
  img{
    width: 100%;
    height: 100%;
  }
}
.blank-cart{
  display: none;
  align-items: center;
  justify-content: center;
  font-size: $txt_32px;
  color: $gray-500;
  background: $c-gray;
  border-radius: 5rem;
  text-transform: uppercase;
  padding: 5rem 2rem;
  margin: 3rem;
  i {
    margin-right: 1rem;
    &::before{
      font-size: $txt_32px;
      color: $gray-500;
    }
  }
}
.present-holder{
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  @extend %anim;
  &.active{
    max-height: 1000px;
    opacity: 1;
  }
}

.cart-choose-block{
  display: flex;
  align-items: center;
  border: 2px solid #eee;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  @extend %anim;
  &:hover{
    border-color: $c-red;
  }
  img {
    max-height: 32px;
    max-width: 115px;
    margin-right: 10px;
  }
}
.cart-choose-block-inp{
  display: none;
}
.cart-choose-block-inp:checked ~.cart-choose-block{
  border-color: $c-red;
}
.cart-choose-text{
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease-out;
}
.cart-choose-block-inp:checked ~.cart-choose-text{
  max-height: 100vh;
  visibility: visible;
  opacity: 1;
}

.price-tag{
  position: relative;
  text-decoration: line-through;
}
.skid{
  border-radius: 8px;
  font-size: 15px;
  background: $c-red;
  padding: 4px 7px;
  color: #fff;
  text-decoration: none!important;
  margin: 6px;
}
.cart-whole-border{
  display: inline-block;
  width: auto;
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.1rem!important;
  &.top{
    margin-bottom: -4.4rem!important;
    z-index: 20;
    position: relative;
    background: #f7f7f7;
    padding: 10px 1rem;
  }
}
