<div class="prod-item">
  <div class="prod-item__mark">НОВИНКА</div>
  <div class="prod-item__mark right">БЕСПЛАТНЯ ДОСТАВКА 0</div>
  <div class="d-flex txt_14px align-items-center">
    Арт.: 6599
    <div class="stars stars_3"></div>
    <a href="#" class="txt_14px txt-c-black ml-auto" data-notify data-id="1">Уведомить</a>
  </div>
  <div class="d-flex align-items-center w-100 pt-1">
    <a href="#" class="txt_14px txt-c-black ml-auto" data-like data-id="1"><img class="heart_like mr-1" src="./assets/img/heart_like.svg"> В избранное</a>
  </div>
  <a href="#" class="img-holder">
    <div class="prod-item__mark promo">ПРОМОКОД</div>
    <img class="img-loading" src="./assets/example/product.png" alt="6058 Italeri 1/72 Fanteria Inglese e Scozzese">
  </a>
  <div class="prod-item__name">
    <a href="#">6058 Italeri 1/72 Fanteria Inglese e Scozzese</a>
  </div>
  <div class="d-flex align-items-center">
    <p class="prod-item__price"><span data-thousand-separate>9200</span><span class="txt_14px">р.</span></p>
    <button class="btn red ml-auto" data-buy data-id="1" data-price="9200"><i class="icon icon_cart text-white txt_12px mr-2"></i> в наличии</button>
  </div>
</div>
