<div class="mb-5">
<!--    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?105"></script>
    &lt;!&ndash; VK Widget &ndash;&gt;
    <div id="vk_groups"></div>
    <script type="text/javascript">
        VK.Widgets.Group("vk_groups", {
            mode: 0,
            width: "210",
            height: "400",
            color1: 'FFFFFF',
            color2: '2B587A',
            color3: '5B7FA6'
        }, 34210859);
    </script>-->
</div>
<p class="h3 mt-5">Наши новости</p>
<div class="news-item-left">
    <p>15 ноября 2019</p>
    <a class="caption" href="#" >Пополнение ассортимента моделей фирмы "Восточный экспресс" и продукции фирмы "Zipmaket"! </a>
</div>
<div class="news-item-left">
    <p>15 ноября 2019</p>
    <a class="caption" href="#" >Пополнение ассортимента моделей фирмы "Восточный экспресс" и продукции фирмы "Zipmaket"! </a>
</div>
<a href="#">Посмотреть все новости</a>
<p class="h3 mt-5">Новости модельного мира</p>
<div class="news-item-left">
    <p>15 ноября 2019</p>
    <a class="caption" href="#" >Пополнение ассортимента моделей фирмы "Восточный экспресс" и продукции фирмы "Zipmaket"! </a>
</div>
<div class="news-item-left">
    <p>15 ноября 2019</p>
    <a class="caption" href="#" >Пополнение ассортимента моделей фирмы "Восточный экспресс" и продукции фирмы "Zipmaket"! </a>
</div>
<a href="#">Посмотреть все новости</a>
