<ul>
    <li><a class="menu-list-item active" href="#">Новинки</a> </li>
    <li><a class="menu-list-item" href="#">Спецпредложения</a> </li>
    <li><a class="menu-list-item" href="#">Сборные модели</a>
        <ul>
            <li><a class="menu-list-item" href="#">Авиация (5401)</a>
                <ul>
                    <li><a class="menu-list-item" href="#">Восточный экспресс (333)</a></li>
                    <li><a class="menu-list-item" href="#">Грань (1)</a></li>
                    <li><a class="menu-list-item" href="#">Звезда (100)</a></li>
                    <li><a class="menu-list-item" href="#">КомБриг (14)</a></li>
                    <li><a class="menu-list-item" href="#">Макет (14)</a></li>
                    <li><a class="menu-list-item" href="#">МикроМир (43)</a></li>
                    <li><a class="menu-list-item" href="#">Моделист (69)</a></li>
                    <li><a class="menu-list-item" href="#">УП НИКТА (1)</a></li>
                    <li><a class="menu-list-item" href="#">Южный фронт (2)</a></li>
                    <li><a class="menu-list-item" href="#">A&A Models (14)</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a class="menu-list-item" href="#">AVD Models</a> </li>
    <li><a class="menu-list-item" href="#">Клеи</a> </li>
    <li><a class="menu-list-item" href="#">Краски</a> </li>
    <li><a class="menu-list-item" href="#">Грунтовка, шпаклевка,</a> </li>
    <li><a class="menu-list-item" href="#">расходные материалы</a> </li>
    <li><a class="menu-list-item" href="#">Смеси для нанесения эффектов</a> </li>
    <li><a class="menu-list-item" href="#">Инструменты</a> </li>
    <li><a class="menu-list-item" href="#">Литература</a> </li>
    <li><a class="menu-list-item" href="#">Компрессоры, аэрографы</a> </li>
    <li><a class="menu-list-item" href="#">Декали</a> </li>
    <li><a class="menu-list-item" href="#">Фототравление</a> </li>
    <li><a class="menu-list-item" href="#">Металлические стволы</a> </li>
    <li><a class="menu-list-item" href="#">Сборные траки</a> </li>
    <li><a class="menu-list-item" href="#">Маски для моделей</a> </li>
    <li><a class="menu-list-item" href="#">Дополнения к моделям</a> </li>
    <li><a class="menu-list-item" href="#">Материалы для диорам</a> </li>
    <li><a class="menu-list-item" href="#">Футляры и подставки</a> </li>
    <li><a class="menu-list-item" href="#">Модели для сборки без клея</a> </li>
    <li><a class="menu-list-item" href="#">Собранные и покрашенные</a> </li>
    <li><a class="menu-list-item" href="#">модели</a> </li>
    <li><a class="menu-list-item" href="#">Леонардо Да Винчи</a> </li>
    <li><a class="menu-list-item" href="#">Настольные игры</a> </li>
    <li><a class="menu-list-item" href="#">World of tanks</a> </li>
    <li><a class="menu-list-item" href="#">Warhammer 40.000</a> </li>
    <li><a class="menu-list-item" href="#">Подарочная упаковка</a> </li>
    <li><a class="menu-list-item" href="#">Таблички для моделей</a> </li>
    <li><a class="menu-list-item" href="#">Таблички на заказ</a> </li>
    <li><a class="menu-list-item" href="#">Модели из бумаги</a> </li>
    <li><a class="menu-list-item" href="#">Модели из дерева</a> </li>
</ul>
