<ul>
    <li><a class="menu-list-item" href="#">Скидки</a></li>
    <li><a class="menu-list-item" href="#">Статус заказа</a></li>
    <li><a class="menu-list-item" href="#">Трекинг или номер отправления</a></li>
    <li><a class="menu-list-item" href="#">Как ускорить отправку заказа</a></li>
    <li><a class="menu-list-item" href="#">ТК "СДЭК"</a></li>
    <li><a class="menu-list-item" href="#">Казахстан и Беларусь</a></li>
    <li><a class="menu-list-item" href="#">Как зарегистрироваться</a></li>
    <li><a class="menu-list-item" href="#">Как сделать заказ</a></li>
    <li><a class="menu-list-item" href="#">Как оплатить заказ</a></li>
    <li><a class="menu-list-item" href="#">Способы доставки</a></li>
    <li><a class="menu-list-item" href="#">Что такое "личный кабинет"</a></li>
    <li><a class="menu-list-item" href="#">Обзоры</a></li>
    <li><a class="menu-list-item" href="#">Гостевая книга</a></li>
    <li><a class="menu-list-item" href="#">Контакты, график работы</a></li>
</ul>
