<div class="row align-items-center">
    <div class="col-md-4 col-lg-3">
        <a href="#"><img class="object-fit-cover h-100 w-100" src="./assets/example/news.png" alt=""></a>
    </div>
    <div class="col-md-8 col-lg-9">
        <p class="txt-c-gray-500">12.02.2020</p>
        <a href="#" class="txt-c-black">Пополнение ассортимента сборных моделей, фототравления и дополнений к моделям фирмы "Eduard". Новинки!</a>
    </div>
</div>
