<div class="news-item" >
    <a href="news-one.html"><img class="img" src="assets/img/news.png" alt="Ольгино мкр, Граничная ул."></a>
    <p class="news-item__date">22 апреля 2018</p>
    <a href="news-one.html" class="news-item__caption">Трансцендентальный мир: основные моменты</a>
</div>
