<%# ex: set ft=html : %>
<div class="bottom-notification" id="bottom-notification">
  <div class="bottom-notification-wrapper">
    <div class="container">
      <div class="row align-items-center">
        <div class="bottom-notification-container col-auto my-3">
          <span class="text">
            Сайт использует cookie-файлы и обрабатывает персональные данные
            с использованием Яндекс Метрики. Это улучшает работу сайта и
            взаимодействие с ним. Подтвердите ваше согласие, нажав кнопу Ок.
          </span>
          <button class="btn white px-3" id="bottom-notification-confirm">Ok</span>
        </div>
      </div>
    </div>
  </div>
</div>

