<div class="bg-gradient">
    <div class="py-5 px-4">
        <p class="h2 text-white mb-0 text-md-center">НАШ КАТАЛОГ</p>
        <div class="d-flex row-scroll row-scroll-always py-5 mt-3">
            <% for(var i = 0; i < 3; i++){ %>
                <div class="col-auto d-flex align-items-center">
                    <a class="rub-icon-holder">
                        <img src="./assets/img/icons/sb-model.svg" alt="">
                    </a>
                    <a class="text-white" href="#">Сборные модели</a>
                </div>
                <div class="col-auto d-flex align-items-center">
                    <a class="rub-icon-holder">
                        <img src="./assets/img/icons/kraski.svg" alt="">
                    </a>
                    <a class="text-white" href="#">Краски</a>
                </div>
                <div class="col-auto d-flex align-items-center">
                    <a class="rub-icon-holder">
                        <img src="./assets/img/icons/avd.svg" alt="">
                    </a>
                    <a class="text-white" href="#">AVD Models</a>
                </div>
                <div class="col-auto d-flex align-items-center">
                    <a class="rub-icon-holder">
                        <img src="./assets/img/icons/smesi.svg" alt="">
                    </a>
                    <a class="text-white" href="#">Смеси для<br>нанесения эффектов</a>
                </div>
            <% } %>
        </div>

    </div>
</div>
