<div class="container">
  <div class="filter bg-gradient">
    <form>
      <div class="row">
        <div class="col-6 col-md">
          <select name="category" class="form-control">
            <option value="">Категории</option>
            <option value="1">БТТ</option>
            <option value="1">Авиация</option>
            <option value="1">Автомобили</option>
            <option value="1">Мотоциклы</option>
            <option value="1">Диорамы</option>
            <option value="1">Флот</option>
          </select>
        </div>
        <div class="col-6 col-md">
          <div class="form-group">
            <input type="text" name="art" class="form-control" placeholder="Артикул">
          </div>
        </div>
        <div class="col-12 col-md">
          <div class="form-group">
            <div class="input-group">
              <input type="text" name="price-start" class="form-control" placeholder="Цена от">
              <input type="text" name="price-end" class="ml-2 form-control" placeholder="Цена до">
            </div>
          </div>
        </div>
        <div class="col-6 col-md">
          <select name="size" class="form-control">
            <option value="">Масштаб</option>
            <option value="1">2</option>
            <option value="1">3</option>
            <option value="1">4</option>
            <option value="1">5</option>
          </select>
        </div>
        <div class="col-6 col-md">
          <select name="period" class="form-control">
            <option value="">Период</option>
            <option value="1">ВОВ</option>
            <option value="1">Афган</option>
            <option value="1">Чечня</option>
            <option value="1">Современный</option>
            <option value="1">1 МВ</option>
          </select>
        </div>
        <div class="col-6 col-md">
          <select name="country" class="form-control">
            <option value="">Страна</option>
            <option value="1">Россия</option>
            <option value="1">Китай</option>
            <option value="1">США</option>
            <option value="1">Германия</option>
            <option value="1">Япония</option>
            <option value="1">Великобритания</option>
          </select>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 my-3">
          <button class="btn search txt_16px txt-c-black" href="#">Искать</button>
        </div>
        <div class="col-lg-2 col-md-4 col-12 order-0 order-md-1 my-3">
          <select name="size" class="form-control">
            <option value="">Есть в наличии</option>
            <option value="1">Все товары</option>
            <option value="2">Нет в наличии</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-4 col-12 order-1 order-md-2 my-3">
          <a class="txt_16px text-white" href="#">Сбросить фильтры</a>
        </div>
      </div>
    </form>
  </div>
</div>
