<div class="container">
  <div class="filter bg-gradient">
    <form>
      <div class="row">
        <div class="col-12 col-md">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Название">
          </div>
        </div>
        <div class="col d-none d-md-block">
          <div class="form-group">
            <input type="text" name="art" class="form-control" placeholder="Артикул">
          </div>
        </div>
        <div class="col d-none d-md-block">
          <div class="form-group">
            <div class="input-group">
              <input type="text" name="price-start" class="form-control" placeholder="Цена от">
              <input type="text" name="price-end" class="form-control" placeholder="Цена до">
            </div>
          </div>
        </div>
        <div class="col d-none d-md-block">
          <select name="producer" class="form-control">
            <option value="">Производитель</option>
            <option value="1">2</option>
            <option value="1">3</option>
            <option value="1">4</option>
            <option value="1">5</option>
          </select>
        </div>
        <div class="col d-none d-md-block">
          <select name="size" class="form-control">
            <option value="">Масштаб</option>
            <option value="1">2</option>
            <option value="1">3</option>
            <option value="1">4</option>
            <option value="1">5</option>
          </select>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 mb-3">
          <button class="btn search txt_16px txt-c-black" href="#">Искать</button>
        </div>
        <div class="col-lg-2 col-md-4 col-12 order-0 order-md-1 mb-3">
          <select name="size" class="form-control">
            <option value="">Есть в наличии</option>
            <option value="1">Все товары</option>
            <option value="2">Нет в наличии</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-4 col-12 order-1 order-md-2 mb-3">
          <a class="txt_16px text-white" href="#">Сбросить фильтры</a>
        </div>
      </div>
    </form>
  </div>
</div>
