<div class="footer bg-gray">
  <div class="container">
    <div class="row row-scroll align-items-center">
      <div class="col-auto col-md-auto">
        <a href="/"><img class="logo" src="./assets/img/logo.png" alt=""></a>
      </div>
      <div class="col-auto col-md-auto">
        <div>© Я моделист, 2020</div>
        <div>Все права защищены</div>
      </div>
      <div class="col-auto col-md-auto">
        <div class="d-flex">
          <div class="icon-holder">
            <i class="icon icon_phone"></i>
          </div>
          <div>
            <div>+7 499 322-14-09</div>
            <div>+7 496 575-01-67</div>
          </div>
        </div>
      </div>
      <div class="col-auto col-md-auto">
        <div class="d-flex">
          <div class="icon-holder">
            <i class="icon icon_phone"></i>
          </div>
          <div>
            <div>9.00 - 19.00<span class="ml-1 txt_12px">Будни</span></div>
            <div>9.00 - 18.00<span class="ml-1 txt_12px">Выходные</span></div>
          </div>
        </div>
      </div>
      <div class="col-auto col-md-auto ml-auto">
        <div class="d-flex">
          <a class="mx-1 pb-2 text-decoration-none" href="#"><i class="icon icon_in"></i></a>
          <a class="mx-1 pb-2 text-decoration-none" href="#"><i class="icon icon_vk"></i></a>
          <a class="mx-1 pb-2 text-decoration-none" href="#"><i class="icon icon_yt"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
