<div class="header ny2022 py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-auto text-center">
        <a href="/"
          ><img class="header__logo" src="assets/img/logo-ny.png" alt=""
        /></a>
      </div>
      <div class="col-sm">
        <div class="row align-items-center">
          <div class="col-auto">
            <p class="ml-lg-5 pl-lg-5 mt-3 mt-sm-0 text-center text-sm-left">
              Интернет-магазин масштабных моделей для склеивания и аксессуаров к
              ним
            </p>
          </div>
          <div class="col ml-auto social-holder">
            <div
              class="d-inline-flex align-items-center justify-content-center justify-content-sm-start ml-lg-5 pl-lg-5 ml-xl-0 pl-xl-0 social"
            >
              <p class="mr-3">Мы в соц. сетях:</p>
              <div class="d-flex align-items-center">
                <a target="_blank" class="mx-1 pb-2 text-decoration-none" href="https://t.me/imodelist/"><i class="icon icon_telegram"></i></a>
                <a target="_blank" class="mx-1 pb-2 text-decoration-none" href="https://dzen.ru/id/5ff2e68a4b7e4d35ed16fd06"><i class="icon icon_dzen"></i></a>
                <a target="_blank" class="mx-1 pb-2 text-decoration-none" href="https://rutube.ru/channel/24281568/"><i class="icon icon_rutube"></i></a>
                <a target="_blank" class="mx-1 pb-2 text-decoration-none" href="https://vk.com/imodelistshop"><i class="icon icon_vk"></i></a>
                <a target="_blank" class="mx-1 pb-2 text-decoration-none" href="https://www.youtube.com/channel/UCw8x1-bCCRB91NKIZDmfXzg"><i class="icon icon_yt"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="d-none d-sm-block d-lg-none">
          <p class="mb-0 font-weight-bold">
            <span class="mr-3">+7 (800) 333-04-41﻿</span>
            <span>+7 (499) 322-14-09</span>
          </p>
        </div>
        <div class="ml-5 pt-3 pl-5 d-none d-lg-block">
          <div class="row">
            <div class="col position-relative">
              <div class="icon-holder">
                <i class="icon icon_phone"></i>
              </div>
              <a
                href="mailto:zakaz@i-modelist.ru"
                class="font-weight-bold txt-c-black"
                >zakaz@i-modelist.ru</a
              >
              <div class="mt-3">
                <div>+7 (800) 333-04-41﻿</div>
                <div>+7 (499) 322-14-09</div>
              </div>
            </div>
            <div class="col position-relative">
              <div class="icon-holder">
                <i class="icon icon_user"></i>
              </div>
              <a href="#" class="font-weight-bold txt-c-black"
                >Личный кабинет</a
              >
              <div class="mt-3">
                <div>
                  <a class="txt-c-red" href="#">Вход</a> /
                  <a class="txt-c-black" href="#">Регистрация</a>
                </div>
                <div><a href="#" class="txt-c-gray-500">Забыли пароль?</a></div>
              </div>
            </div>
            <div class="col position-relative">
              <div class="icon-holder">
                <i class="icon icon_time"></i>
              </div>
              <a href="#" class="font-weight-bold txt-c-black">Задать вопрос</a>
              <div class="mt-3">
                <div>
                  9.00 - 19.00<span class="txt-c-gray-500 ml-1 txt_12px"
                    >Будни</span
                  >
                </div>
                <div>
                  9.00 - 18.00<span class="txt-c-gray-500 ml-1 txt_12px"
                    >Выходные</span
                  >
                </div>
              </div>
            </div>
            <div class="col position-relative">
              <div class="icon-holder">
                <i class="icon icon_cart"></i>
              </div>
              <a href="#" class="font-weight-bold txt-c-black">Как заказать?</a>
              <div class="mt-3">
                <div>В корзине</div>
                <div>
                  <span class="txt-c-gray-500" data-carttext>нет товаров</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
