<div id="sliderMain" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="container">
      <a href="#" class="slider-text">
        Новый товар уже в продаже
      </a>
    </div>
    <img class="d-block w-100" src="./assets/example/slide.png" alt="">
  </div>
</div>
