<div class="bg-gradient">
    <div class="py-5 px-4">
        <p class="h2 text-white mb-0 text-md-center">АВИАЦИЯ</p>
        <div class="d-flex row-scroll custom-scroll py-5 mt-3">
            <% for(var i = 0; i < 3; i++){ %>
                <div class="col-auto rub-model">
                    <a class="rub-model-holder">
                        <img src="./assets/example/models/im1.jpg" alt="">
                    </a>
                    <a class="text-white" href="#">Восточный экспресс (333)</a>
                </div>
                <div class="col-auto rub-model">
                    <a class="rub-model-holder">
                        <img src="./assets/example/models/im2.jpg" alt="">
                    </a>
                    <a class="text-white" href="#">Грань (1)</a>
                </div>
                <div class="col-auto rub-model">
                    <a class="rub-model-holder">
                        <img src="./assets/example/models/im3.jpg" alt="">
                    </a>
                    <a class="text-white" href="#">Звезда (100)</a>
                </div>
                <div class="col-auto rub-model">
                    <a class="rub-model-holder">
                        <img src="./assets/example/models/im4.jpg" alt="">
                    </a>
                    <a class="text-white" href="#">КомБриг (14)</a>
                </div>
                <div class="col-auto rub-model">
                    <a class="rub-model-holder">
                        <img src="./assets/example/models/im5.jpg" alt="">
                    </a>
                    <a class="text-white" href="#">Моделист (69)</a>
                </div>
                <div class="col-auto rub-model">
                    <a class="rub-model-holder">
                        <img src="./assets/example/models/im1.jpg" alt="">
                    </a>
                    <a class="text-white" href="#">Восточный экспресс (333)</a>
                </div>
                <div class="col-auto rub-model">
                    <a class="rub-model-holder">
                        <img src="./assets/example/models/im2.jpg" alt="">
                    </a>
                    <a class="text-white" href="#">Грань (1)</a>
                </div>
                <div class="col-auto rub-model">
                    <a class="rub-model-holder">
                        <img src="./assets/example/models/im3.jpg" alt="">
                    </a>
                    <a class="text-white" href="#">Звезда (100)</a>
                </div>
                <div class="col-auto rub-model">
                    <a class="rub-model-holder">
                        <img src="./assets/example/models/im4.jpg" alt="">
                    </a>
                    <a class="text-white" href="#">КомБриг (14)</a>
                </div>
                <div class="col-auto rub-model">
                    <a class="rub-model-holder">
                        <img src="./assets/example/models/im5.jpg" alt="">
                    </a>
                    <a class="text-white" href="#">Моделист (69)</a>
                </div>
            <% } %>
        </div>

    </div>
</div>
