
<p class="h2">Принимаем к оплате</p>
<ul class="nav nav-pills" id="tabsPayment" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#pay1" role="tab" aria-selected="false">В терминале</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#pay2" role="tab" aria-selected="false">Эл. кошельком</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#pay3" role="tab" aria-selected="false">Банковской картой</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#pay4" role="tab" aria-selected="false">Интернет-банки</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#pay5" role="tab" aria-selected="false">Сотовые операторы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#pay6" role="tab" aria-selected="false">Др. способы</a>
  </li>
</ul>
<div class="tab-content" id="tabsPaymentContent">
  <div class="tab-pane fade show active" role="tabpanel" id="pay1">
    <div class="row row-scroll align-items-center">
      <div class="col-auto py-3 px-2"><img src="./assets/img/payment/qiwi.png" alt=""></div>
      <div class="col-auto py-3 px-2"><img src="./assets/img/payment/ele.png" alt=""></div>
      <div class="col-auto py-3 px-2"><img src="./assets/img/payment/mobil.png" alt=""></div>
      <div class="col-auto py-3 px-2"><img src="./assets/img/payment/pin-pay.png" alt=""></div>
    </div>
  </div>
  <div class="tab-pane fade" role="tabpanel" id="pay2">
    <div class="row row-scroll align-items-center">
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/ya.png" alt=""></div>
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/pp_cc_mark_111x69.png" alt=""></div>
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/wmz.png" alt=""></div>
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/wmr.png" alt=""></div>
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/qiwi.png" alt=""></div>
    </div>
  </div>
  <div class="tab-pane fade" role="tabpanel" id="pay3">
    <div class="row row-scroll align-items-center">
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/visa.png" alt=""></div>
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/mir.jpg" alt=""></div>
    </div>
  </div>
  <div class="tab-pane fade" role="tabpanel" id="pay4">
    <div class="row row-scroll align-items-center">
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/a-click.png" alt=""></div>
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/tat.png" alt=""></div>
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/b24-logo.png" alt=""></div>
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/bs-logo.png" alt=""></div>
    </div>
  </div>
  <div class="tab-pane fade" role="tabpanel" id="pay5">
    <div class="row row-scroll align-items-center">
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/mts.png" alt=""></div>
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/beeline.png" alt=""></div>
    </div>
  </div>
  <div class="tab-pane fade" role="tabpanel" id="pay6">
    <div class="row row-scroll align-items-center">
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/evro.png" alt=""></div>
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/sv.png" alt=""></div>
      <div class="col-auto py-3 px-2"><img class="col-auto py-3 px-2" src="./assets/img/payment/pril.png" alt=""></div>
    </div>
  </div>
</div>

