<div class="alert bg-gradient alert-top">
  <p class="h2 txt_18px text-white mb-0">Уже доступны новинки 2021 года. <a class="h2 txt_16px white-pill text-uppercase txt-c-black" href="#">Смотреть тут</a></p>
  <a href="#" data-dismiss="alert" aria-label="close"><i class="icon icon_close ml-3"></i></a>
</div>
<div class="bg-gray py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto d-none d-lg-block">
        <img src="./assets/img/delivery/1.png" alt="">
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="./assets/img/delivery/2.png" alt="">
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="./assets/img/delivery/3.png" alt="">
      </div>
      <div class="col-6 col-sm-auto">
        <form action="" class="input-group header-search-form">
          <input class="autoComplete form-control py-2 bg-white" type="search" value=""
                 placeholder="Поиск по сайту..."
                 name="search"
                 data-url="./assets/search.json"
                 autocomplete="off">
          <span class="input-group-append">
            <input type="image" src="./assets/vectors/loupe.svg">
          </span>
        </form>
      </div>
      <div class="col-6 col-sm-auto ml-md-auto mr-0">
        <div class="d-flex align-items-center">
          <div id="my_city" class="font-weight-bold txt_14px ajax-modal d-none d-md-block" data-target="#modal" data-remote="./free-delivery-modal.html">
            <span>Ваш город</span> Электросталь?
          </div>
          <div class='lang ml-2'>
            <div>
              <div id="google_translate_element"></div>
              <script type="text/javascript">
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement({
                    pageLanguage: 'ru',
                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                  }, 'google_translate_element');
                }
              </script>
              <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray py-3 d-md-none">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-auto">
      <i class="mx-1 icon icon_phone"></i>
      <a class="mx-2 text-decoration-none txt-c-black" href="tel:+74993221409">+7 499 322-14-09</a>
      <a class="mx-1 text-decoration-none txt-c-black" href="tel:+74965750167">+7 496 575-01-67</a>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div id="my_city" class="font-weight-bold txt_14px ajax-modal mt-3" data-target="#modal" data-remote="./free-delivery-modal.html">
      <span>Ваш город</span> Электросталь?
    </div>
  </div>
</div>
