<%# ex: set ft=html : %>
<div class="search-panel" id="search-panel">
  <div class="container">
    <div class="top-panel">
      <div class="top-panel-inner">
        <input class="search" id="search-panel-input" type="search" value=""
          placeholder="Поиск по сайту..."
          name="search"
          data-url="./assets/search.json"
          autocomplete="off"
        />
        <button class="action" id="search-panel-button">
          <img src="./assets/vectors/loupe-w.svg" width="20" height="20" />
        </button>
      </div>
    </div>
    <div class="results-panel">
      <div class="results-panel-items">

        <div class="prod-item no_old_price">
          <a href="{ITEM_LINK}" class="img-holder">
            <img src="./assets/example/product.png"
              alt="70063 Акан Краска водорастворимая Western Approaches Blue окраска надводных бортов кораблей ВМФ Англии с 1941 года">
          </a>
          <div class="prod-item__right">
            <div class="prod-item__name">
              <a href="{ITEM_LINK}">
                70063 Акан Краска водорастворимая Western Approaches Blue окраска надводных бортов кораблей ВМФ Англии с 1941 года
              </a>
            </div>
            <div class="d-flex txt_14px align-items-center">
              Артикул: 70063 </div>
            <div class="prod-item__price_and_buttons">
              <p class="prod-item__price">
                <span class="prod-item__price_old_price old_price">147р.</span>
                <span class="prod-item__price_value" data-thousand-separate="">73</span><span class="prod-item__price_units txt_14px">р.</span>
              </p>
              <div class="prod-item_buttons">
                <button data-remote="/add/ok" class="prod-item__btn_cart btn red" data-buy="" data-id="38247" data-price="73" title="Добавить в корзину">
                  <i class="icon icon_cart text-white txt_12px mr-2"></i>
                  в корзину
                </button>
                <button data-remote="{ITEM_LINK}" class="prod-item__btn_go btn gray" data-buy="" data-id="38247" data-price="73" title="Перейти к продукту">
                  <span>🡢</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="prod-item has_old_price">
          <a href="{ITEM_LINK}" class="img-holder">
            <img src="./assets/example/product.png"
              alt="70063 Акан Краска водорастворимая Western Approaches Blue окраска надводных бортов кораблей ВМФ Англии с 1941 года">
          </a>
          <div class="prod-item__right">
            <div class="prod-item__name">
              <a href="{ITEM_LINK}">
                70063 Акан Краска водорастворимая Western Approaches Blue окраска надводных бортов кораблей ВМФ Англии с 1941 года
              </a>
            </div>
            <div class="d-flex txt_14px align-items-center">
              Артикул: 70063 </div>
            <div class="prod-item__price_and_buttons">
              <p class="prod-item__price">
                <span class="prod-item__price_old_price old_price">147р.</span>
                <span class="prod-item__price_value" data-thousand-separate="">73</span><span class="prod-item__price_units txt_14px">р.</span>
              </p>
              <div class="prod-item_buttons">
                <button data-remote="/add/ok" class="prod-item__btn_cart btn red" data-buy="" data-id="38247" data-price="73" title="Добавить в корзину">
                  <i class="icon icon_cart text-white txt_12px mr-2"></i>
                  в корзину
                </button>
                <button data-remote="{ITEM_LINK}" class="prod-item__btn_go btn gray" data-buy="" data-id="38247" data-price="73" title="Перейти к продукту">
                  <span>🡢</span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="bottom">
        <div class="bottom-summary">
          Найдено результатов: 68
        </div>
        <div class="bottom-actions">
          <button class="btn ghost" id="close-button">
            <span class="icon-close mr-2">×</span>
            Закрыть
          </button>
          <button class="btn gray" id="go-to-results">
            <span class="icon-arrow mr-2">🡢</span>
            Все результаты
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
