<div id="sliderMain" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <a href="#" class="slider-text">
          Новый товар уже в продаже
        </a>
      </div>
      <img class="d-block w-100" src="./assets/example/slide.png" alt="">
    </div>
    <div class="carousel-item">
      <div class="container">
        <a href="#" class="slider-text">
          Пример другого текста
        </a>
      </div>
      <img class="d-block w-100" src="./assets/example/slide.png" alt="">
    </div>
    <div class="container dot-container">
      <ol class="carousel-indicators">
        <li data-target="#sliderMain" data-slide-to="0" class="active"></li>
        <li data-target="#sliderMain" data-slide-to="1"></li>
      </ol>
    </div>
  </div>
</div>
