<table class="cart-table table-responsive">
  <tr>
    <th>ТОВАР</th>
    <th></th>
    <th>Сумма заказа</th>
    <th>Статус заказа</th>
    <th>Способ оплаты</th>
    <th>Доставка</th>
  </tr>
  <% for(var i = 0; i < 3; i++){ %>
    <tr data-id="44">
      <td class="cart-table__img">
        <img src="./assets/example/product.png" alt="6058 Italeri 1/72 Fanteria Inglese e Scozzese">
      </td>
      <td class="cart-table__name">
        <a href="#" class="txt-c-black">MSD851724 Модель-Сервис Короб для кораблей 850х170х240</a>
        <p class="txt-c-gray-500">Артикул: MSD851724</p>
        <div class="txt-c-gray-500 mt-2">12 июля 2020 12:30</div>
      </td>
      <td class="cart-table__name">
        <p class="mb-0 text-nowrap txt_18px font-weight-bold"><span class="txt_24px" data-thousand-separate data-summ="9200">9200</span> руб.</p>
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-primary"></span> Заказ получен</div>
        <div class="d-flex align-items-center"><span class="badge-pill badge-secondary"></span> Не оплачен</div>
      </td>
      <td class="cart-table__info">
        Банковский перевод
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-secondary"></span> Самовывоз</div>
      </td>
    </tr>
  <% } %>
</table>
<div class="p-3 my-4 bg-gray">
  <div class="txt_18px">
    Общая сумма по всем заказам, руб: <span class="font-weight-bold txt_22px" data-thousand-separate>123</span> р. <span class="txt-c-gray-500"> Без учёта доставки</span>
  </div>
</div>
