<table class="cart-table table-responsive">
  <tr>
    <th>ТОВАР</th>
    <th><div class="txt_12px">Сумма заказа</div></th>
    <th><div class="txt_12px">Статус заказа</div></th>
    <th><div class="txt_12px">Способ оплаты</div></th>
    <th><div class="txt_12px">Статус оплаты</div></th>
    <th><div class="txt_12px">Доставка</div></th>
  </tr>
  <% for(var i = 0; i < 1; i++){ %>
    <tr data-id="44">
      <td class="cart-table__name">
        <p class="txt_12px txt-c-black">MSD851724 Модель-Сервис Короб для кораблей 850х170х240</p>
        <p class="txt-c-gray-500">Артикул: MSD851724</p>
        <div class="txt-c-gray-500 mt-2">12 июля 2020 12:30</div>
      </td>
      <td class="cart-table__name">
        <p class="mb-0 text-nowrap txt_18px font-weight-bold"><span class="txt_24px" data-thousand-separate data-summ="9200">9200</span> руб.</p>
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-secondary"></span> Оформлен</div>
      </td>
      <td class="cart-table__info">
        Наложенный платеж
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-secondary"></span> Не оплачен</div>
      </td>
      <td class="cart-table__info">
        Почта России
      </td>
    </tr>
    <tr data-id="44">
      <td class="cart-table__name">
        <p class="txt_12px txt-c-black">MSD851724 Модель-Сервис Короб для кораблей 850х170х240</p>
        <p class="txt-c-gray-500">Артикул: MSD851724</p>
        <div class="txt-c-gray-500 mt-2">12 июля 2020 12:30</div>
      </td>
      <td class="cart-table__name">
        <p class="mb-0 text-nowrap txt_18px font-weight-bold"><span class="txt_24px" data-thousand-separate data-summ="9200">9200</span> руб.</p>
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-success"></span> Подтвержден</div>
      </td>
      <td class="cart-table__info">
        Самовывоз
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-primary"></span> Частично оплачен</div>
      </td>
      <td class="cart-table__info">
        EMS Почта России
      </td>
    </tr>
    <tr data-id="44">
      <td class="cart-table__name">
        <p class="txt_12px txt-c-black">MSD851724 Модель-Сервис Короб для кораблей 850х170х240</p>
        <p class="txt-c-gray-500">Артикул: MSD851724</p>
        <div class="txt-c-gray-500 mt-2">12 июля 2020 12:30</div>
      </td>
      <td class="cart-table__name">
        <p class="mb-0 text-nowrap txt_18px font-weight-bold"><span class="txt_24px" data-thousand-separate data-summ="9200">9200</span> руб.</p>
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-primary"></span> Отправлен</div>
      </td>
      <td class="cart-table__info">
        Оплата курьеру наличными
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-info"></span> Оплачен</div>
      </td>
      <td class="cart-table__info">
        Лабиринт
      </td>
    </tr>
    <tr data-id="44">
      <td class="cart-table__name">
        <p class="txt_12px txt-c-black">MSD851724 Модель-Сервис Короб для кораблей 850х170х240</p>
        <p class="txt-c-gray-500">Артикул: MSD851724</p>
        <div class="txt-c-gray-500 mt-2">12 июля 2020 12:30</div>
      </td>
      <td class="cart-table__name">
        <p class="mb-0 text-nowrap txt_18px font-weight-bold"><span class="txt_24px" data-thousand-separate data-summ="9200">9200</span> руб.</p>
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-info"></span> Доставлен</div>
      </td>
      <td class="cart-table__info">
        ЮMoney
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-info"></span> Оплачен</div>
      </td>
      <td class="cart-table__info">
        Курьерская доставка
      </td>
    </tr>
    <tr data-id="44">
      <td class="cart-table__name">
        <p class="txt_12px txt-c-black">MSD851724 Модель-Сервис Короб для кораблей 850х170х240</p>
        <p class="txt-c-gray-500">Артикул: MSD851724</p>
        <div class="txt-c-gray-500 mt-2">12 июля 2020 12:30</div>
      </td>
      <td class="cart-table__name">
        <p class="mb-0 text-nowrap txt_18px font-weight-bold"><span class="txt_24px" data-thousand-separate data-summ="9200">9200</span> руб.</p>
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-info"></span> Доставлен курьером</div>
      </td>
      <td class="cart-table__info">
        Банковский перевод
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-info"></span> Оплачен</div>
      </td>
      <td class="cart-table__info">
        Самовывоз товара из магазина
      </td>
    </tr>
    <tr data-id="44">
      <td class="cart-table__name">
        <p class="txt_12px txt-c-black">MSD851724 Модель-Сервис Короб для кораблей 850х170х240</p>
        <p class="txt-c-gray-500">Артикул: MSD851724</p>
        <div class="txt-c-gray-500 mt-2">12 июля 2020 12:30</div>
      </td>
      <td class="cart-table__name">
        <p class="mb-0 text-nowrap txt_18px font-weight-bold"><span class="txt_24px" data-thousand-separate data-summ="9200">9200</span> руб.</p>
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-danger"></span> Отказ адресата</div>
      </td>
      <td class="cart-table__info">
        Робокасса
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-info"></span> Оплачен</div>
      </td>
      <td class="cart-table__info">
        СДЭК
      </td>
    </tr>
    <tr data-id="44">
      <td class="cart-table__name">
        <p class="txt_12px txt-c-black">MSD851724 Модель-Сервис Короб для кораблей 850х170х240</p>
        <p class="txt-c-gray-500">Артикул: MSD851724</p>
        <div class="txt-c-gray-500 mt-2">12 июля 2020 12:30</div>
      </td>
      <td class="cart-table__name">
        <p class="mb-0 text-nowrap txt_18px font-weight-bold"><span class="txt_24px" data-thousand-separate data-summ="9200">9200</span> руб.</p>
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-danger"></span> Отказ адресата</div>
      </td>
      <td class="cart-table__info">
        Робокасса
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-info"></span> Оплачен</div>
      </td>
      <td class="cart-table__info">
        СДЭК
      </td>
    </tr>
    <tr data-id="44">
      <td class="cart-table__name">
        <p class="txt_12px txt-c-black">MSD851724 Модель-Сервис Короб для кораблей 850х170х240</p>
        <p class="txt-c-gray-500">Артикул: MSD851724</p>
        <div class="txt-c-gray-500 mt-2">12 июля 2020 12:30</div>
      </td>
      <td class="cart-table__name">
        <p class="mb-0 text-nowrap txt_18px font-weight-bold"><span class="txt_24px" data-thousand-separate data-summ="9200">9200</span> руб.</p>
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-danger"></span> Отменен</div>
      </td>
      <td class="cart-table__info">
        Paypal
      </td>
      <td class="cart-table__info">
        <div class="d-flex align-items-center"><span class="badge-pill badge-info"></span> Оплачен</div>
      </td>
      <td class="cart-table__info">
        Деловые Линии
      </td>
    </tr>
  <% } %>
</table>
<div class="p-3 my-4 bg-gray">
  <div class="txt_18px">
    Общая сумма по всем заказам, руб: <span class="font-weight-bold txt_22px" data-thousand-separate>123</span> р. <span class="txt-c-gray-500"> Без учёта доставки</span>
  </div>
</div>
