<ul>
  <li><a class="menu-list-item active" href="#">МОЯ КОРЗИНА</a></li>
  <li><a class="menu-list-item" href="#">МОЯ СКИДКА</a></li>
  <li class="mb-4"><a class="menu-list-item" href="#">УВЕДОМЛЕНИЯ</a></li>

  <li><a class="menu-list-item" href="#">ПРАЙСЛИСТ</a></li>
</ul>
