<div class="container">
  <div class="mt-4 d-flex row-scroll align-items-center">
    <div class="avatar">
      <img src="./assets/img/face.jpg" alt="">
    </div>
    <div class="mx-4">
      <p class="txt_22px mb-1 text-nowrap">Андрей Селянкин</p>
      <p class="txt_16px text-nowrap">E-mail: <span class="txt-c-gray-500 mr-2">andrey@test.ru</span> Телефон: <span class="txt-c-gray-500 mr-2">89166576913</span></p>
      <a class="d-inline-block txt-c-black" href="#">Редактировать</a>
    </div>
    <div class="mx-4">
      <p class="txt_22px mb-1 text-nowrap">Адрес доставки</p>
      <p class="txt_16px text-nowrap"><span class="txt-c-gray-500 mr-2">Победа 13 корпус 3</span></p>
      <a class="d-inline-block txt-c-black" href="#">Редактировать</a>
    </div>
  </div>
</div>

<div class="bg-gradient py-5 mt-5">
  <div class="container">
    <div class="row row-scroll">
      <div class="col-8 col-lg-3">
        <a class="d-flex align-items-center text-decoration-none" href="#">
          <img class="mr-3" src="./assets/vectors/lk/lk-orders.svg" alt="">
          <span class="white-pill txt-c-red">Мои заказы</span>
        </a>
        <p class="text-white mt-3 txt_12px">Вы можете посмотреть информацию обо всех заказах и способах оплаты.</p>
      </div>
      <div class="col-8 col-lg-3">
        <a class="d-flex align-items-center text-decoration-none" href="#">
          <img class="mr-3" src="./assets/vectors/lk/lk-list.svg" alt="">
          <span class="white-pill txt-c-black">Лист ожидания</span>
        </a>
        <p class="text-white mt-3 txt_12px">Узнать срок поступления интересующего Вас товара, если его нет в наличии.</p>
      </div>
      <div class="col-8 col-lg-3">
        <a class="d-flex align-items-center text-decoration-none" href="#">
          <img class="mr-3" src="./assets/vectors/lk/lk-profile.svg" alt="">
          <span class="white-pill txt-c-black">Настройка профиля</span>
        </a>
        <p class="text-white mt-3 txt_12px">Добавить новые данные о себе, изменить телефон или другие параметры.</p>
      </div>
      <div class="col-8 col-lg-3">
        <a class="d-flex align-items-center text-decoration-none" href="#">
          <img class="mr-3" src="./assets/vectors/lk/lk-brands.svg" alt="">
          <span class="white-pill txt-c-black">Избранное</span>
        </a>
        <p class="text-white mt-3 txt_12px">Увидеть информацию о новых поступлениях любимых брендов</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray py-3">
  <div class="container">
    <div class="txt_16px row align-items-center">
      <div class="col-auto mb-0"><i class="icon icon_cart txt_13px mr-2"></i> Сумма по всем заказам, руб: <span class="font-weight-bold txt_22px" data-thousand-separate>123</span> р. <span class="txt-c-gray txt_13px">Без учёта доставки</span></div>
      <div class="col-auto mb-0"><b class="txt_22px">%</b> Скидка клиента: <span class="font-weight-bold txt_22px">10</span>%</div>
    </div>
  </div>
</div>
