<div data-cart-table data-url="/brands">
    <table class="cart-table table-responsive">
        <tr>
            <th>Бренд</th>
            <th></th>
            <th>Новости за последние 14 дней</th>
            <th></th>
        </tr>
        <% for(var i = 0; i < 3; i++){ %>
            <tr data-id="44">
                <td class="cart-table__img">
                    <img src="./assets/example/models/im1.jpg" alt="6058 Italeri 1/72 Fanteria Inglese e Scozzese">
                </td>
                <td class="cart-table__price">
                    <p class="mb-0 text-nowrap txt_18px font-weight-bold">Название</p>
                </td>
                <td class="cart-table__info">
                    <div>
                        <a href="#">6058 Italeri 1/72 Fanteria Inglese e Scozzese</a>
                    </div>
                </td>
                <td class="cart-table__trash">
                    <a data-trash href="#" class="icon icon_trash text-decoration-none"></a>
                </td>
            </tr>
        <% } %>

    </table>
</div>
