.block-table{
  position: relative;
  &__table{
    padding-top: 100%;
    margin: 1rem 0 2rem;
    background: #cf9d6e;
    border: 2px solid #fff;
  }
  &__text{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Mistral';
    color: #020202;
    font-size: 3vh;
    overflow: hidden;
    border: 2px solid #eee;
    line-height: 1.2;
    word-break: break-all;
  }
  &__change{
    textarea{
      max-width: 100%!important;
      min-width: 100%!important;
      min-height: 120px!important;
      min-height: 120px!important;
    }
  }
}
