.modal {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  &.bigmodal{
    .modal-dialog {
      height: 102%;
      max-width: 58rem;
      @media(max-width:991px) {
        margin: 0 -7px;
      }
      .modal-body{
        background: $c-gradient;
      }
    }
  }
}

