@font-face {
  font-family: 'PT Astra Sans';
  src: local('PT Astra Sans'), local('PTAstraSans-Regular'),
  url('#{$path-fonts}/Ptastrasans.woff') format('woff'),
  url('#{$path-fonts}/Ptastrasans.woff2') format('woff2'),
  url('#{$path-fonts}/Ptastrasans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Astra Sans';
  src: local('PT Astra Sans Italic'), local('PTAstraSans-Italic'),
  url('#{$path-fonts}/Ptastrasansitalic.woff') format('woff'),
  url('#{$path-fonts}/Ptastrasansitalic.woff2') format('woff2'),
  url('#{$path-fonts}/Ptastrasansitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PT Astra Sans';
  src: local('PT Astra Sans Bold'), local('PTAstraSans-Bold'),
  url('#{$path-fonts}/Ptastrasansbold.woff') format('woff'),
  url('#{$path-fonts}/Ptastrasansbold.woff2') format('woff2'),
  url('#{$path-fonts}/Ptastrasansbold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('#{$path-fonts}/icomoon.eot');
  src:  url('#{$path-fonts}/icomoon.eot#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/icomoon.ttf') format('truetype'),
  url('#{$path-fonts}/icomoon.woff') format('woff'),
  url('#{$path-fonts}/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mistral';
  src:  url('#{$path-fonts}/Mistral.eot');
  src:  url('#{$path-fonts}/Mistral.eot#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/Mistral.ttf') format('truetype'),
  url('#{$path-fonts}/Mistral.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'TimesNewRomanPSMT';
  src:  url('#{$path-fonts}/TimesNewRomanPSMT.eot');
  src:  url('#{$path-fonts}/TimesNewRomanPSMT.eot#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/TimesNewRomanPSMT.ttf') format('truetype'),
  url('#{$path-fonts}/TimesNewRomanPSMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DeutschGothic';
  src:  url('#{$path-fonts}/DeutschGothic.eot');
  src:  url('#{$path-fonts}/DeutschGothic.eot#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/DeutschGothic.ttf') format('truetype'),
  url('#{$path-fonts}/DeutschGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ComicSansMS';
  src:  url('#{$path-fonts}/ComicSansMS.eot');
  src:  url('#{$path-fonts}/ComicSansMS.eot#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/ComicSansMS.ttf') format('truetype'),
  url('#{$path-fonts}/ComicSansMS.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'CenturyGothic';
  src:  url('#{$path-fonts}/CenturyGothic.eot');
  src:  url('#{$path-fonts}/CenturyGothic.eot#iefix') format('embedded-opentype'),
  url('#{$path-fonts}/CenturyGothic.ttf') format('truetype'),
  url('#{$path-fonts}/CenturyGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

