$font-family-sans-serif: "PT Astra Sans", "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$path-assets: "../assets";
$path-fonts: "#{$path-assets}/fonts";


$c-black: #333333;
$c-red: #CD2D32;
$c-yellow: #F8B22C;
$c-gray: #F5F5F5;
$c-gradient: linear-gradient(258.35deg, #FF7E46 -36.54%, #CD2D32 50.2%), #CD2D32;

$txt_11px: 0.6875rem;;
$txt_12px: 0.75rem;
$txt_13px: 0.8125rem;
$txt_14px: 0.875rem;
$txt_16px: 1rem;
$txt_18px: 1.125rem;
$txt_22px: 1.375rem;
$txt_24px: 1.5rem;
$txt_30px: 1.875rem;
$txt_32px: 2rem;
$txt_36px: 2.25rem;
$txt_48px: 3rem;
$txt_58px: 3.625rem;
