body {
  font-family: $font-family-sans-serif;
  color: $c-black;
  font-size: $txt-16px;
  line-height: normal;
  text-align: left;
  padding: 0!important;
  @extend %anim;
  &.modal-open{
    overflow: auto;
  }
  p, a, input, textarea, li, td {
    font-size: $txt-16px;
    font-family: $font-family-sans-serif;
    color: $c-black;
    font-weight: normal;
    line-height: normal;
  }

  a {
    color: $c-red; text-decoration: underline;
    @extend %anim;
    outline: none!important;
    &:hover{
      text-decoration: none!important;
      color: darken($c-red, 30%);
    }
    &.txt-c-yellow:hover{
      color: #fff;
    }
  }
}
.scroll-lock{
  overflow: hidden;
}
.b-radius{
  border-radius: 1rem;
}
h1, .h1{
  font-weight: bold;
  color: $c-black;
  font-size: $txt-36px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 2.15rem;
}
h2, .h2{
  font-weight: normal;
  color: $c-black;
  text-transform: uppercase;
  font-size: $txt-22px;
  letter-spacing: 0.265em;
  margin-bottom: 1.5rem;
}
h3, .h3{
  font-weight: bold;
  color: $c-black;
  font-size: $txt-24px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 2.15rem;
}

hr{
  margin: 1.5rem 0;
}

iframe {
  max-width: 100%;
}
.hidden{
  visibility: hidden;
  opacity: 0;
  @extend %anim;
}
.white-pill {
  background: #fff;
  padding: 1px 8px 2px;
  border-radius: 1rem;
  text-decoration: none!important;
}
.breadcrumbs{
  width: 100%;
  color: $gray-500;
  margin-bottom: 2.5rem;
  a{
    color: $c-black;
  }
}
.container{position: relative;}

.bg-black {
  background: $c-black;
}
.bg-red {
  background: $c-red;
}
.bg-gradient {
  background: $c-gradient;
}
.bg-stripes {
  background: url('#{$path-assets}/img/stripes.png');
}
.bg-gray {
  background: $c-gray;
}
.bg-gray200 {
  background: $gray-200;
}
.bg-orange {
  background: #e7843d;
  color: #fff;
  a{
    color: #fff!important;
    text-decoration: none;
  }
}
.bg-white {
  background-color: #fff !important;
}
.header-search-form{
  input{
    height: 24px;
    box-shadow: none!important;
    border: 1px solid #44444475!important;
  }
  .input-group-append{
    input{
      width: auto;
      height: 28px;
      box-shadow: none !important;
      border: none !important;
      margin-top: -2px;
    }
  }
}
.form-control.bg-white {
  background-color: #fff !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)!important;
}
.bread{
  position: relative;
  color: #fff;
  a {
    color: #fff!important;
  }
  z-index: 1;
  margin-bottom: 2rem;
}
.menu-list-item{
  font-size: $txt_13px;
  text-transform: uppercase;
  text-decoration: none;
  color: $c-black;
  &.active, &:hover {
    color: $c-red;
  }
}
hr {
  margin: 2.5rem 0;
}
.nav {
  flex-wrap: nowrap;
  overflow: auto;
  li {
    a{
      white-space: nowrap!important;
    }
    &:before {
      display: none;
    }
  }
}
ol {
  list-style-position: inside;
  padding-left: 0;
  li {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  &.big{
    li {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: $txt_22px;
    }
  }
}

ul {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;
  li {
    margin-bottom: 0.5rem;
    &:before {
      content: '» ';
      display: inline-block;
      margin-right: 0.47rem;
      color: inherit;
    }
    ul {
      padding: 1rem 1rem 0.5rem;
      li {
        margin-bottom: 0.5rem;
        &:before {
          display: none;
        }
      }
      ul {
        padding: 1rem 0 0.5rem;
        margin: 1rem 0 0 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        li {
          a {
            text-decoration: underline!important;
            &.active, &:hover {
              color: $c-red!important;
            }
          }
        }
      }
    }
  }
}

.rub-icon-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  flex-shrink: 0;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  border: 2px solid $c-red;
  box-shadow: 0 8px 9px rgba(0, 0, 0, 0.22);
  img{
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
}
.col-auto{
  &.rub-model{
    width: 9rem;
  }
}
.rub-model-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 4px;
  padding: 0.5rem;
  width: 7rem;
  height: 5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.custom-scroll {
  overflow: hidden;
  width: 100%;
  padding-bottom: 2rem!important;
  position: relative;
}
.ps__rail-x {
  background: #fff!important;
  display: block!important;
  opacity: 1!important;
  border-radius: 10px!important;
  overflow: hidden;
  .ps__thumb-x {
    background: $red!important;
    height: 13px!important;
    border: 3px solid #fff!important;
    margin-bottom: -1px!important;
  }
}

.row-scroll-always {
  overflow-x: auto;
  white-space: nowrap;
  display: block;
  user-select: none;
  @extend %anim;
  will-change: transform;
  cursor: pointer;
  scrollbar-color: $c-red;
  scrollbar-width: 10px;
  >div{
    @extend %anim;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
  }
}

.object-fit-cover{
  object-fit: cover;
}

@media(max-width:991px) {
  h1, .h1{
    font-size: $txt_30px;
  }
  h2, .h2{
    font-size: $txt-18px;
  }
  h3, .h3{
    font-size: $txt-18px;
  }
  .row-scroll{
    overflow-x: auto;
    white-space: nowrap;
    display: block;

    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0px);

    >div{
      display: inline-block;
      vertical-align: top;
      white-space: normal;
    }
    &.align-items-center {
      >div{
        vertical-align: middle;
      }
    }

    &.row-visible-next{
      > div {
        width: 90%;
      }
    }
  }
}

@media(min-width:992px) {
  /* scrollbar */
  ::-webkit-scrollbar {
    height: 12px;
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
    background: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background: $c-red;
    border: 2px solid #fff;
    border-radius: 10px;
  }
}

.bord-block{
  background: linear-gradient(353.29deg, rgba(255, 255, 255, 0.79) 36.28%, rgba(255, 255, 255, 0) 89.94%), #F2F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 1px 2px 1px rgba(0, 0, 0, 0.1), inset 5px 5px 22px rgba(0, 0, 0, 0.06), inset -5px -5px 33px 2px #FFFFFF;
  border-radius: 6px;
  &.scroll{
    a{
      color: $c-black;
    }
    .ps__rail-x{
      background-color: #ddd!important;
    }
    .ps__thumb-x{
      background-color: #fff!important;
      border-color: #ddd!important;
    }
    .rub-model-holder{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
.white-block{
  border-radius: 18px;
  box-shadow: inset 0px 0px 18px #00000024;
  padding: 2rem;
  background-image: url('#{$path-assets}/img/frame.svg');
  background-size: 300px;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-bottom: 3px solid #dc3545;
  border-top: 18px solid #f5f5f5;
  margin-top: 3rem;
  @media (max-width: 991px) {
    padding: 0;
    border: 0;
    margin-top: 0;
    background: none;
    border-radius: 0;
    box-shadow: none;
  }
}
.notify-block{
  img{
    width: 100px;
  }
}
.line-through{
  text-decoration: line-through;
  color: $c-red;
  margin-right: 6px;
}
.heart_like{
  width: 10px;
}
.news-element{
  border-radius: 18px;
  box-shadow: inset 0px 0px 18px #00000024;
  padding: 2rem;
  background-size: 300px;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-bottom: 3px solid #dc3545;
  margin-bottom: 2rem;
}
@media (min-width: 1600px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1440px;
  }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(2deg); }
  95% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}

#notifications-bottom-right-tab{
  background-color: white;
  width: 300px;
  margin-top: 20px;
  position: fixed;
  right: 1rem;
  bottom: 0rem;
  display: flex;
  padding: 12px;
  border-radius: 10px;
  border: 3px solid #eee;
  box-shadow: 0 0 50px #3333333d;
  z-index: 999;
  animation: wiggle 5.5s infinite;
  opacity: 0;
  transition: all 0.5s;
  &.active{
    opacity: 1;
    bottom: 1rem;
  }
}
#notifications-bottom-right-tab-close{
  position: absolute;
  top: -22px;
  left: -22px;
  color: #cccccc;
  text-align: center;
  transition: all 0.5s;
  background: #fff;
  opacity: 1;
  border-radius: 100%;
  width: 23px;
  height: 23px;
  i{
    color: #000;
  }
}
#notifications-bottom-right-tab-close:hover {
  color: rgba(102,102,102,1);
  cursor: pointer;
}
#notifications-bottom-right-tab-avatar img{
  margin-right: 1rem;
}
#notifications-bottom-right-tab-right-title{
  float: left;
  width: 100%;
  color: #252525;
  font-weight: 600;
}
#notifications-bottom-right-tab-right-title span{
  color: #e91e63;
}
#notifications-bottom-right-tab-right-text{
  float: left;
  width: 100%;
  font-size: 14px;
  color: #4c4c4c;
  font-style: italic;
  margin-top: 5px;
}

body.modal-open{
  #allwrapper{
      max-width: 100%;
      overflow: hidden;
      .table-responsive{
        overflow: visible;
      }
  }
}

.dropdown-list{
  &::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
  ~ .hidden{
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
  }
  &.active ~ .hidden{
    max-height: 2000px;
    opacity: 1;
    visibility: visible;
  }
}

.one-club{
  .info{
    font-size: $txt_13px;
    color: $gray-500;
    margin: 10px 0;
  }
  .more{
    margin-top: 10px;
  }
}
