.alert-top{
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 0;
  margin-bottom: 0;
  @media(max-width:767px) {
    display: none;
  }
}

.header{
  background: url('#{$path-assets}/img/stripes.svg') no-repeat top right;
  background-size: 550px;
  &.ny2022{
    background: url('#{$path-assets}/img/ny2022.jpg') repeat-x bottom left;
  }
  .naming{
    display: flex;
    align-items: center;
    height: 36px;
    a{
      display: block;
    }
  }
  @media(max-width:575px) {
    background-size: cover;
  }
  .social{
    @media(max-width:575px) {
      background: #fff;
      margin: 0px auto;
      padding: 10px 20px 0px;
      line-height: 1;
      display: inline-flex!important;
      width: auto;
      border-radius: 30px;
    }
  }
  .social-holder{
    @media(max-width:575px) {
      text-align: center;
    }
  }
  .icon-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $c-gray;
    border-radius: 100%;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 2.4rem;
    left: -1.8rem;
    @media(max-width:1199px) {
      display: none;
    }
  }
}

.menu-item{
  text-decoration: none;
  color: $c-black!important;
  font-size: $txt_12px;
  text-transform: uppercase;
  &:hover{
    color: $c-red!important;
  }
}

#my_city{
  padding: 3px 10px;
  border: 1px solid #444;
  border-radius: 20px;
  cursor: pointer;
}
